@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: #004385;
  color: white;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #031a6b;
  padding: 10px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eaebed;
  font-family: "Playfair Display", serif;
}

main {
  background-color: #03294e;
  padding: 10px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

footer {
  background-color: #031a6b;
  padding: 10px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

a {
  color: #76e5fc;
  text-decoration: none;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

img {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
