@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #7b5b3d;
  color: white;
  font-family: "Inter", Georgia, "Times New Roman", Times, serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #291f14;
  padding: 50px 0px 50px;
  max-width: 100vw;
  color: #eaebed;
  font-family: "Inter", Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

h3 {
  font-size: 25px;
  font-family: "Inter", Georgia, "Times New Roman", Times, serif;
}

main {
  background-color: #443522;
  padding: 10px;
  border-radius: 20px;
  max-width: 900px;
  margin: 10px auto;
  text-align: left;
}

ul {
  padding: 25px;
  list-style-type: square;
  margin-left: 20px;
  line-height: 1.5;
}

footer {
  background-color: #291f14;
  padding: 50px 0px 50px;
  max-width: 100vw;
  margin: 0;
  color: white;
  text-align: center;
}

a {
  color: #76e5fc;
  text-decoration: none;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

#contact {
  background-color: #7b5b3d;
  font-size: 15px;
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  max-width: 900px;
  margin: 10px auto;
  line-height: 2;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
}
