@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: #352b1d;
  color: #ffeedb;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #917750;
  padding: 10px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 10px auto;
  color: #ffeedb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffeedb;
  font-family: "Playfair Display", serif;
}

main {
  background-color: #917750;
  padding: 10px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 10px auto;
  text-align: left;
}

footer {
  background-color: #917750;
  padding: 10px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 10px auto;
  color: #ffeedb;
}

a {
  color: #ffeedb;
  text-decoration: none;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

#firm {
  color: #ffeedb;
  font-size: 10px;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
}
